<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dictionary.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>01C49E621F0B9F1D0021306B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C49E761F0B9F1E0021306B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>01C49E811F0B9F1E0021306B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
